<!DOCTYPE html>
<html>

<head>
  <title>Kansalaisaloite 2.0</title>
</head>

<body>
  <h1>Kansalaisaloite 2.0</h1>
  <p>
    {% if not session.user_id %}
    <a href="/register">Luo tunnus</a> |
    {% endif %}
    {% if session.user_id %}
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <a href="/login">Kirjaudu sisään</a>
    {% endif %}
  </p>

  <form action="/search" method="get">
    <p>
      Hakusana:
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
    </p>
    <input type="submit" value="Hae" />
  </form>

  {% if query %}
  <hr />
  <h2>Tulokset</h2>
  
  <ul>
  {% for result in results %}
    <li>
      <a href="/initiative/{{ result.initiative_id }}">
        {{ result.initiative_title }}
      </a>
      <br />
      {{ result.username }} ({{ result.created_at }})
    </li>  
  {% endfor %}
  </ul>
  {% endif %}

  <hr />
  {% for initiative in initiatives %}
  <p>
    <a href="/initiative/{{ initiative.id }}">{{ initiative.title }}</a>
    <br />
    {{ initiative.total_votes }} ääntä,
    {{ initiative.total_comments -1}} kommenttia
  </p>
  <hr />
  {% endfor %}

  {% if session.user_id %}
  <h2>Uusi aloite</h2>

  <form action="/new_initiative" method="post">
    <p>
      Otsikko:<br />
      <input type="text" name="title" maxlength="100" required />
    </p>
    <p>
      Aloitteen kuvaus:<br />
      <textarea name="content" rows="5" cols="40" maxlength="5000" required></textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Julkaise" />
  </form>
  {% endif %}
</body>

</html>