<!DOCTYPE html>
<html>

<head>
  <title>{{ initiative.title }}</title>
</head>

<body>
  <h1>{{ initiative.title }}</h1>
  
  <p>Kuvaus: {{ comments[0].content }}</p>
  <p>Äänet: {{ votes }} / 50 000</p>
  
  <form action="/like_initiative" method="post">
    <input type="hidden" name="initiative_id" value="{{ initiative.id }}">

  <button type="submit">Anna äänesi</button>

  </form>
  <hr />

  <h3>Aloitteen kommentit</h3>
  {% for comment in comments[1:] %}
  <p id="{{ comment.id }}">
    <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a> 
    ({{ comment.created_at }}):
  </p>
  <p>
    {{ comment.content }}
  </p>
  {% if comment.user_id == session.user_id %}
  <p>
    <a href="/edit/{{ comment.id }}">Muokkaa</a> |
    <a href="/remove/{{ comment.id }}">Poista</a>
  </p>
  {% endif %}
  <hr />
  {% endfor %}

  {% if session.user_id %}
  <h2>Uusi kommentti</h2>

  <form action="/new_comment" method="post">
    <p>
      Viesti:<br />
      <textarea name="content" rows="5" cols="40" maxlength="5000" required></textarea>
    </p>
    <input type="hidden" name="initiative_id" value="{{ initiative.id }}" />
    <input type="submit" value="Lähetä" />
  </form>
  <hr />
  {% endif %}

  <p>
    <a href="/">Etusivulle</a>
  </p>
</body>

</html>