<!DOCTYPE html>
<html>

<head>
  <title>Haku</title>
</head>

<body>
    <p>
    <a href="/">Etusivulle</a>
  </p>

  <h1>Haku</h1>

  <form action="/search" method="get">
    <p>
      Hakusana:
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
    </p>
    <input type="submit" value="Hae" />
  </form>

  {% if query %}
  <hr />
  <h2>Tulokset</h2>
  
  <ul>
  {% for result in results %}
    <li>
      <a href="/initiative/{{ result.initiative_id }}#{{ result.comment_id }}">
        {{ result.initiative_title }}
      </a>
      <br />
      {{ result.username }} ({{ result.created_at }})
    </li>
  {% endfor %}
  </ul>
  {% endif %}
</body>

</html>