<!DOCTYPE html>
<html>

<head>
  <title>{{ thread.title }}</title>
</head>

<body>
  <h1>{{ thread.title }}</h1>

  <hr />
  {% for initiative in initiatives %}
  <p>
    {{ initiative.username }} ({{ initiative.sent_at }}):
  </p>
  <p>
    {{ initiative.content }}
  </p>
  {% if initiative.user_id == session.user_id %}
  <p>
    <a href="/edit/{{ initiative.id }}">Muokkaa</a> |
    <a href="/remove/{{ initiative.id }}">Poista</a>
  </p>
  {% endif %}
  <hr />
  {% endfor %}

  {% if session.user_id %}
  <h2>Uusi viesti</h2>

  <form action="/new_message" method="post">
    <p>
      Viesti:<br />
      <textarea name="content" rows="5" cols="40"></textarea>
    </p>
    <input type="hidden" name="thread_id" value="{{ thread.id }}" />
    <input type="submit" value="Lähetä" />
  </form>
  <hr />
  {% endif %}

  <p>
    <a href="/">Etusivulle</a>
  </p>
</body>

</html>