 <h1>Käyttäjä {{ user.username }}</h1>

  <p>
    Käyttäjä on lähettänyt {{ messages | count }} viestiä
  </p>

  {% if messages %}
  <p>
    Ensimmäinen viesti lähetetty {{ messages[-1].sent_at }}
  </p>
  <p>
    Viimeisin viesti lähetetty {{ messages[0].sent_at }}
  </p>
  {% endif %}

   <ul>
  {% for message in messages %}
    <li>
      <a href="/thread/{{ message.thread_id }}#{{ message.id }}">
        {{ message.thread_title }}
      </a>
      <br />
      ({{ message.sent_at }})
    </li>  
  {% endfor %}
  </ul>